*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

body{
    background-color: hsl(27, 66%, 92%);;
}

.global-container{
    border: 1px solid hsl(0, 0%, 0%);
    margin-left: auto;
    margin-right: auto;
    max-width: 359px;
    height: 100vh;
    align-content: center;
}

.header-container{
    margin-top: 10%;
    height: 13%;
    background-color: hsl(10, 79%, 65%);
    border-radius: 10px;
    color:white;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 16px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.header-info{
    display: grid;
    grid-column: 0 / 1;
}

.header-info p {
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.header-info h2 {
    font-weight: 700;
}

.logo{
    display: grid;
    grid-column: 3 / -1;
    justify-content: right;
}

.logo img{
    max-width: 95%;
    max-height: 95%;
    margin-right: 0;
}


.info-panel{
    max-height: 65vh;
    background-color: hsl(33, 100%, 98%);
    border-radius: 10px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top:28px;
    padding-bottom:28px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.info-panel-container h2{
    margin-top: 0;
    display: block;
    width: 100%;
    font-weight: 700;
    margin-bottom: 32px;
}

.chart{
    min-height: 30vh;
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

.chart-container{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bars-container{
    display: grid;
    margin-left: auto;
    margin-right: auto; 
    grid-template-columns: repeat(7, 1fr);
    gap:0.70rem;
    margin-bottom: 8px;
    align-items: baseline;
}

.bars-container span{
    width: 1fr;
    display: inline;
    background-color: hsl(10, 79%, 65%);
    border-radius: 5px;
}


.percentage:nth-of-type(1){
    height: calc(((17.45*28)/52.36) * 1vh);
}

.percentage:nth-of-type(2){
    height: calc(((34.91*28)/52.36) * 1vh);
}

.percentage:nth-of-type(3){
    height: calc(((52.36*28)/52.36) * 1vh);
}

.percentage:nth-of-type(4){
    height: calc(((31.07*28)/52.36) * 1vh);
}

.percentage:nth-of-type(5){
    height: calc(((23.39*28)/52.36) * 1vh);
}

.percentage:nth-of-type(6){
    height: calc(((43.28*28)/52.36) * 1vh);
}

.percentage:nth-of-type(7){
    height: calc(((25.48*28)/52.36) * 1vh);
}


.weekdays{
    display: grid;
    margin-left: auto;
    margin-right: auto; 
    grid-template-columns: repeat(7, 1fr);
    gap:0.70rem;
}

.weekdays p{
    width: 1fr;
    display: inline;
    text-align: center;
    font-size: 85%;
    opacity: 50%;
}

.separator{
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    opacity: 10%;
    border-radius: 50%;
    margin-bottom: 24px;
}

.chart-summary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.total{
    display: grid;
    grid-column: 1 / 3;
    width: 100%;
    justify-content: left;
}

.total p{
    width: 100%;
    opacity: 50%;
    margin-bottom: 8px; 
}

.total h1{
    font-weight: 700;
    font-size:180%;
}

.result{
    display: grid;
    grid-column: 2 / -1;
    justify-content: right;
    text-align: right;
    vertical-align: middle;
    position: absolute;
    bottom: 0.05rem;
    right: 0;
}

.result p{
    width: 100%;
    opacity: 50%;
    margin-bottom: 8px; 
}

.result h3{
    font-weight: 700;
}


